/* Global properties */

*, *::before, *::after{
    font-family: 'Courier New';
}
:root {
    --neutral-color: white;
    /** I would suggest using green as a correct color. Yellow made me think it was wrong. */
    --correct-color: #ffb949;
    /** I would use a naming convention other than 'wrong-color', maybe error or danger */
    --wrong-color: #FF5349;
    --default-color:aquamarine;
    font-family: 'Courier New';
}

body {
    padding: 0;
    /** This will center */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /** don't need this width, otherwise you get a scrollbar */
    /* width: 100vw; */
    height: 100vh;
    background-color: black;
    color: var(--default-color);
}

body.correct {
    color: var(--correct-color);
}

/** same here, change wrong */
body.wrong {
    color: var(--wrong-color);
}

.button.correct {
    border-color: var(--correct-color);
}
/* header bar with title, leaderboard, and timer */ 

#header {
    display: flex;
    /** Space evenly will work better here if you're trying to center within the two columns */
    justify-content: space-evenly;
    /** Explicitly call a font size in px or rem would be even better, then you wouldn't have to update it as much for smaller screen sizes */
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 25%;
    padding: 1.5%;
    box-shadow: 0 0 10px 1px;
}

#header h1{
    color: var(--neutral-color);
}

/** Don't need this */
#header a{
    position: relative;
}

/* Question container */

.container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    flex-direction: column;
    /** You can remove all of these and just add a resizable horizontal margin on the left and right, then you wont need any of the media breakpoints either that are below */
    /* left: 25%; */
    /* width: 800px; */
    /* max-width: 80%; */
    margin: auto 20%;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* button CSS */

.button-grid {
    display: grid;
    margin: 20px 0;
    grid-template-columns: repeat(2, auto);
    gap: 15px

}

.button {
color: var(--neutral-color);
border: 1px solid var(--default-color);
background-color: black;
border-radius: 3px;
padding: 5px 10px;
transition: all 0.2s ease-in-out
}

.button:hover {
    color: black;
    border: white solid 1px;
    background:var(--default-color);
    font-weight: 800;
}

.button-correct{
    background-color: var(--correct-color);
    color: var(--neutral-color);
    font-weight: bolder;
    
}

.button-wrong{
    background-color: var(--wrong-color);
    color:var(--neutral-color);
    font-weight: bolder;
}

.start-button, .next-button, .restart-button {
    font-size: large;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out
}

.start-button:hover, .next-button:hover, .restart-button{
    color: black;
    border: white solid 2px;
    background:var(--default-color);
    font-weight: bolder;
}
.controls {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.unhide {
    display:block
}


/** Don't need any of this */

/* breakpoint for different screens */

/* @media (max-width: 1399px){
    .container {
        margin-left: -5rem;
        margin-top: 20rem;
    }
}

@media (max-width: 1199px) {
    .container {
        margin-left: -8rem;
        margin-top: 20rem;
    }
}

@media (max-width: 991px) {
    .container {
        margin-left: -11rem;
        margin-top: 20rem;
    }
}

@media (max-width: 767px) {
    .container {
        margin-left: -8rem;
    }
}

@media (max-width: 575px) {
    .container {
        margin-left: -6rem;
    }
} */

/** You really don't need any this selector for iphone 12, it will inherit from larger screen size, this can get messy if you start to target specific phones */
/* iPhone 12 pro screen */
@media (max-width: 390px) {
    #header{
        /** Reframe from using negative font-sizes */
        font-size: -4rem;
        /** don't need to redeclare, it will inherit */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        padding: 6%;
    }
    #header h1{
    margin-bottom: 1rem;
    
}

#header p{
    margin-top: 1rem;
}    
    .container{
        left: 34%;
        justify-content: center;
    }
    
}